body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding-inline: 0.5rem;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.navbar p {
  margin-inline: 1rem;
  cursor: pointer;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.login-form {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}
.login-form p {
  font-weight: 600;
  margin-block: 0.5rem;
}
.login-form input {
  border-radius: 0.25rem;
  outline: none;
  border: 1px solid rgb(112, 112, 112);
  padding: 0.2rem 0.75rem;
}
.login-form button {
  margin-block: 0.5rem;
  padding: 0.4rem 1.25rem;
  border: none;
  background-color: black;
  color: white;
  border-radius: 0.2rem;
  cursor: pointer;
}
.grid {
  display: grid;
}
.place-items-center {
  place-items: center;
}
.login-logout-btn {
  position: absolute;
  right: 0.5rem;
}
